/*
    folha de estilo site single page
    @author vinicius justino
    */

/* Samrtphone portrait >>>>>>>>>>>>>>>>>*/

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>*/
@media(min-width: 576px){
    bory{
        background-color: #0ff;
    }
}

/* Tablet Portrati >>>>>>>>>>>>>>>>>>>>*/
@media(min-width: 768px){
    bory{
        background-color: #ff0;
    }
}
/* Tablet landscape >>>>>>>>>>>>>>>>>>>> */
@media(min-width: 992px){
    bory{
        background-color: #ff660f;
    }
}

/* PC >>>>>>>>>>>>>>>>>>>>>*/
@media(min-width: 1200px){
    bory{
        background-color: #f00;
    }
}